.modal_bg{
    position: fixed;
    width:100%;
    height: 100%;
    background: rgba(238, 238, 238, 0.281);
    z-index: 10000;
    left: 0;
    top:0;

}
.guess_result{
    width:678px;
    height: 330px;
    position: fixed;
    left: 50%;
    margin-left: -339px;
    top: 40%;
    margin-top: -165px;
    background: #fff;
    z-index: 10000;

    .modal_header{
        text-align: left;
        height: 49px;
        font-size: 18px;
        line-height: 49px;
        background: #51ABFF;
        color: #fff;
        position: relative;
        text-indent: 2em;


        span{
            position: absolute;
            top: 50%;
            
            &.icon_modal_left{
                margin-top: -8px;
                left: 18px;
                width: 12px;
                height: 16px;
                background: url('./../../../assets/images/icon/model_header_icon.png') no-repeat;
            }
            &.icon_modal_right{
                margin-top: -7px;
                width: 14px;
                height: 14px;
                background: url('./../../../assets/images/icon/close.png') no-repeat;
                right: 18px;
            }
        }
    }
    .model_body{
        text-align: left;
        ul{
            box-sizing: border-box;
            padding-left: 20px;
            
            
            font-size: 14px;
            color: #666;
            li:first-child{
                &:after{
                    border-bottom:none;
                }
                >span{
                    color: #999!important;
                }
            }

            li{
                list-style:none;
                height: 50px;
                line-height: 50px;
                position: relative;

                &:after{
                    content: ' ';
                    height: 1px;
                    position: absolute;
                    width: 90%;
                    left: 13px;
                    bottom:0;
                    border-bottom: 1px solid #fafafa;
                }
                &:last-child{
                    &:after{
                        border-bottom:none;
                    }
                }
                &>span{
                    display: inline-block;
                }

                .li_circle {
                    width:40px;
                    height: 100%;
                    text-align: center;
                    span{
                        display: inline-block;
                        width:4px;
                        height: 4px;
                        border-radius: 50%;
                        background: #ccc;
                        vertical-align: middle;
                    }
                }
                .li_time{
                    width:260px;
                    color: #666;
                }
                .li_rise,.li_wave,.li_reduce{
                    width:117px;
                    text-align: center;
                }
                .li_rise{
                    color:#EC5050;
                }
                .li_wave {
                    color:#2C7EED;
                }
                .li_reduce{
                    color: #30BE4B;
                }
            }
        }
    }
}