.guess_wrapper{
    box-sizing: border-box;
    width: 1034px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.guess{
    padding: 51px 0 86px 0; 
    position: relative;
    
    width:100%;
    margin: 0 auto;
    text-align: center;
    background: #f9f9f9;

    .history_entry{
        width: 1034px;
        margin: 0 auto;
        height: 25px;
        line-height: 25px;
        margin-top:-5px;

        span{
            font: 18px 'Microsoft yahei';
            color: #656565;
            float: right;
            cursor: pointer;
        }
        img{
            margin-left: 3px;
            vertical-align: middle;
        }
    }
    
    .guess_title{
        text-align: center;
        font-size: 22px;
        line-height: 29px;
        margin-top: 29px;
        color: #656565;
    }
    .guess_title_time{
        margin-top: 6px;
        font: 16px/25px bold 'Arill'; 
        color: #999;
    }
    .icon_title_top{
        line-height: 4px;
        padding: 2px 12px;
        background: #47a3ff;
        border-radius: 2px;
        display: inline-block;

    }
}
