.bar_wrapper{
    width: 150px;
    height: 200px;
    background: #eee;
    border-radius: 5px;
    text-align: center;
    margin: 20px;

    button{
        height: 32px;
        line-height: 30px;
        color: #f00;
        width:100px;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        border-radius: 3px;
        border: 1px solid #ccc;
        background: #fff;

        &:active{
            background: #eee;
        }
    }
}