.chart_wrapper{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    background:rgb(250, 250, 250);
    color: #fff;

    .chart_title{
        color: #999;
        font-size: 16px;
        line-height: 40px;
        .act{
            color: #333;
        }
    }
    .select_list_wrapper{
        line-height: 40px;
        color: #666;
        text-align: left;
        font-size: 14px;

    }
}