.chart_wrapper{
    width: 620px;
    margin: 0 auto;
    text-align: center;
    color: #fff;

    .chart_title{
        color: #999;
        font-size: 16px;
        line-height: 40px;
        .act{
            color: #333;
        }
    }
    .select_list_wrapper{
        line-height: 40px;
        color: #666;
        text-align: left;
        font-size: 14px;
        position: relative;

        .more_data_app{
            position: absolute;
            top: 0;
            right:0;

            a{
                color: #999;
                text-decoration: none;

                .folder{
                    display: inline-block;
                    width:17px;
                    height: 15px;
                    margin-right: 7px;
                    transform: translateY(2px);
                    background: url('./../../../assets/images/icon/folder.png') no-repeat;
                    background-position: center;
                }
            }
            
            &:hover a .folder{
                background: url('./../../../assets/images/icon/folder-open.png') no-repeat;
            }

            .more_data_modal{
                display: none;
                position: absolute;
                top:-260px;
                right: -15px;
                width: 188px;
                height: 251px;
                box-sizing: border-box;
                padding: 21px;
                color: #333;
                background: #fff;
                box-shadow: 1px 1px 20px #eee;
                border-radius: 6px;
                font-size: 14px;
                line-height: 24px;

                p{
                    margin: 0;
                    padding: 0;
                }
                img{
                    margin-top: 10px;
                }

                &:after{
                    display: inline-block;
                    content: ' ';
                    position: absolute;
                    border-width: 16px 12px;
                    border-color: #fff transparent transparent  transparent;
                    border-style: solid; 
                    position: absolute;
                    top:100%;
                    left:85px;
                }

                
            }
        }

    }
    
}