html,body{
    padding:0;
    margin: 0;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

.header {
    height: 160px;
    background: #fff;
    .public_reporter {
        width: 100%;
        height: 60px;
        background: #27C9CB;
        .newer_repoeter {
            color: #fff;
            line-height: 60px;
            text-indent: 3px;
            .icon_reporter{
                display: inline-block;
                width:22px;
                height: 28px;
                background: url('./../assets/images/icon/notice.png') no-repeat;
                vertical-align: middle;
                transform: translateY(-2px);
                margin-right: 18px;
            }
            .more_reporter {
                font-size: 14px;
                text-decoration: underline;
            }
        }
    }
    .logo_content {
        width: 100%;
        height: 48px;
        line-height: 48px;
        font-size: 20px;
        color: #999;
        margin-top: 26px;
        position: relative;

        .logo_img{
            display: inline-block;
            width: 184px;
            height: 48px; 
            background: url('./../assets/images/logo.png') no-repeat;
            vertical-align: middle;
            
        }
        .logo_title{
            padding-left: 12px;
            margin-left: 12px;
            position: relative;

            display: inline-block;
            vertical-align: middle;
            a{
                color: #999;
                text-decoration: none;
                &:hover{
                    color: #999999 !important;;
                }
            }

            &::after{
                content: ' ';
                width:1px;
                border-left: 2px solid #f4f4f4;
                position: absolute;
                left: 0;
                height: 28px;
                top:10px;
            }
        }
    }
    .friends_link {
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 48px;
        li {
            display: inline-block;
            color: #eee;
            font-size: 12px;
            a {
                color: #656565;
                font-size: 14px;
                text-decoration: none;
            }
        }
    }
}


/* app介绍图片部分 */

.app_intr {
    width: 100%;
    height: 800px;
    background: url('./../assets/images/main.png') no-repeat;
    background-position: center center;
    background-size: auto 100%;
}


/* 页面主体部分 */

main {
    width: 100%;
    .main_item_warp {
        width: 100%;
        height: 560px;
        background-position: center 132px!important;
        .container {
            position: relative;
            padding-top: 42px;
            
            .fa-line-chart {
                position: absolute;
                right: 75px;
                top: 132px;
            }
        }
        &.map {
            background: url('./../assets/images/map.png') no-repeat;
            
        }
        &.index {
            background: url('./../assets/images/index.png') no-repeat;
        }
        &.climate {
            background: url('./../assets/images/climate.png') no-repeat;
        }
        &.stock {
            background: url('./../assets/images/stock.png') no-repeat;
        }
        &.datacenter {
            background: url('./../assets/images/datacenter.png') no-repeat;
        }
    }
}

a:hover{
    color: #73bdff!important;
}
.more_data_app:hover {
    color: #73bdff!important;
}


// footer部分

.footer{
    min-height: 170px;
    width:100%;
    background: #f9f9f9;
    position: relative;
    color: #666;

    a{
        text-decoration: none;
    }
    p{
        padding: 0;
        margin: 0;
    }
}

.foot-left{
    margin-left: 12%;
    height: 20px;
    padding-top: 22px;
}
.footer-content{
    height: 180px;
    background-color: #f9f9f9;
}

.footer-num-dis{
    margin-top: 25px;
}

.h-bg{
    background: url('./../assets/images/foot_logo.png') no-repeat;
    width: 140px;
    height: 33px;
}
.foot-number{
    font-size: 30px;
    line-height: 50px;
}
.foot-number span{
    font-size: 14px;
}

.line-height{
    line-height: 24px;
}
.foot-pos{
    height: 160px;
    top:10px;
    position: absolute;
    left: 65%;
    line-height: 40px;
}
.about{
    position: absolute;
    top:10px;
    left: 80%;
    line-height: 20px;
}
.about p.title{
    line-height: 40px;
    

    a{
        font-size: 12px;
    }
}
.about a{
    color: inherit;
    font-size: 13px;
}
.about a:hover{
    text-decoration: underline;
}
.foot-pos{
    font-size: 12px;
}
.foot-pos .shaoma{
    width:100px;
    height: 100px;
    font-size: 16px;
    background: url('./../assets/images/wechat_code.png') no-repeat;
}

.footer-bottom{
    background-color: #333;
    width:100%;
    font-size: 13px;
    height: 80px;
    line-height: 80px;
    color:#656565;
    text-align: center;

}